<!DOCTYPE html>
<html lang="en-au">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @ViewBag.Title - Tuffab
        @ViewBag.IsAdministrator


    </title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css_animate.min.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="animated  fadeIn">
    <div class="navbar navbar-default navbar-fixed-top">
        <img src="~/Images/GMAW.welding.af.ncs.jpg" class="img-rounded img-thumbnail" width="64" height="64" />

        <div class="container" style="border-radius: 0px; margin-top: -64px">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                    <span class="icon-bar icon-next"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("Tuffab", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">



                    <li>@Html.ActionLink("View Site Pictures", "Index", "SitePictures")</li>
                    <li>@Html.ActionLink("Submit Quote Request", "Index", "QuoteInformations")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-right">

                    <li>
                        @if (Session["Administrator"] != null && (bool)Session["Administrator"] == true)
                        {
                            <div class="pull-right label label-default">Administrator&nbsp;&nbsp;<span style="background-color:green" class="badge">&#10004;</span>@Html.ActionLink("Logout", "Logout", "Admin")</div>
                            
                        }
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")

            </div>

        </div>
    </div>
    <div class="container">
        @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year - Tuffab</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
