@model Tuffab.Models.QuoteInformation

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Quote Request</h2>



@using (Html.BeginForm("Index", "QuoteInformations", FormMethod.Post))
{

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Quote Details</h3>
        </div>
       
            <div class="panel-body">
                <div class="col-lg-6">
                    @Html.LabelFor(model => model.FullName)

                </div>
                <div class="col-lg-6">
                    @Html.TextBoxFor(model => model.FullName)
                </div>
            </div>


            
        <div class="panel-body">
                <div class="col-lg-6">
                    @Html.LabelFor(model => model.Phone)
                </div>
                <div class="col-lg-6">
                    @Html.TextBoxFor(model => model.Phone)
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="panel-body">
                <div class="col-lg-6">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="col-lg-6">
                    @Html.TextBoxFor(model => model.Email, new { @class = "textarea" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="panel-body">
                <div class="col-lg-6">
                    @Html.LabelFor(model => model.Description)
                </div>
                <div class="col-lg-6">
                    @Html.TextAreaFor(model => model.Description, new { style = "width:  800px" })
                </div>

            </div>
            <div class="panel-body">
                <div class="panel-footer">
                    <input type="submit" value="Submit Quote" class="btn btn-primary" />
                </div>
            </div>
        
    </div>
}


<!--
<table class="table">


    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>





</table>-->
