@model Tuffab.Models.SitePicture

@{
    ViewBag.Title = "Add Site Picture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Images</h2>


@using (Html.BeginForm("Create", "SitePictures", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Add a new Image</h3>
        </div>


        <div class="panel-body">

@Html.LabelFor(model => model.Data, new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                
                <input type="file" id="ImagePath" title="Upload a picture" name="file" />
                @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="panel-body">
            @Html.LabelFor(model => model.Caption, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Caption, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Caption, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="panel-body">
            @Html.LabelFor(model => model.Width, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Width, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Width, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="panel-body">
            @Html.LabelFor(model => model.Height, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="panel-body">
            <div class="panel-footer">
                <!-- <div class="col-md-offset-2 col-md-10">-->
                    <input type="submit" value="Create" class="btn btn-primary" />
                <!-- </div>-->
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
